<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Enter Contact Information<h1>
    </div>
      <div class="container">
        <div class="well">
          <form action="/" method="post">
            <div class='form-group'>
              <label for='fullName'>Full Name</label>
              <input id='fullName' name='fullName' class='form-control' type='text'>
            </div>
            <div class='form-group'>
              <label for='adreess'>Email Address</label>
              <input id='address' name='address' class='form-control' type='text'>
            </div>
            <div class='form-group'>
              <label for='phone'>Phone Number</label>
              <input id='phone' name='phone' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn btn-success'>Add This Contact</button>
          </form>
      </div>
      @foreach(var people in Model)
        {
          <div class="well" id="peopleDisplay">
          <p>@people.GetName()<p>
          <p>@people.GetContactAddress()<p>
          <p>@people.GetContactNumber()<p>


          </div>
        }
      <form class="form-group" name="", action="/ClearAll" method="post">
        <button type="submit" name="button">Clear All People</button>
      </form>
      </div>
  </body>
</html>
